<div class="grid">


    <div class="col-12">
        <div class="card">
            <h5>Advanced</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="firstname2">Subject Name</label>
                    <input pInputText id="firstname2" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="courseName">Course Name</label>
                    <p-dropdown [options]="courses" [(ngModel)]="selectedCourse" placeholder="Select a course"
                        optionLabel="name">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="year">Year</label>
                    <p-dropdown [options]="years" placeholder="Select a year" optionLabel="name" class="mt-3">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="driveLink">Google Drive Link</label>
                    <input pInputText id="driveLink" type="text" />
                </div>
                <div class="field col-12 ">
                    <label htmlFor="driveLink">Keywords</label>
                    <p-chips ></p-chips>
                </div>
            </div>
        </div>
    </div>
</div>